@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #1E2B5B;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

::selection {
  background: #fdc210;
  color: #010204;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}